a:link,visited {
	background-color:none;
	color: darkblue;
	padding:14px 80px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
}

a:hover {
	background-color:lightblue;
}


body {
	font-family: Rubik;
	font-size: 20px;;
	color: black;
	background-color: none;
	text-aign: center;
	/*padding-bottom: 10em;*/
}

h1,h2 {
	color: white;
	font-family: 'Didact Gothic', sans-serif;
}

h1 {
	font-size: 3em;
	font-family: 'Fjalla One', sans-serif;
}
.qing-image {
	background-image: url("https://i.imgur.com/3oKlDex.jpg");
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
}

.header {
	border-image: 62em;
	padding: 0.65em;
	border-color: yellow;
	text-align:center;
	margin:auto;
}

.nav {
	background-color: rgba(255,255,0,0.8);
	text-align: center;
}

.row {
	max-width: 50em;
	margin: auto;
	padding: 1em;
}

.article {
	background-color: white;
	font-family:Signika;
	font-size: 1em;
	padding:1em;
	margin:1em;
}

.like-button {
	background-color: lightseagreen;
}

.footer {
	left:0;
	bottom:0;
	padding: 2em;
	text-align: center;
    background: lightblue;
	font-size:1em;
	color: dodgerblue;
}

@media (max-width: 500px;) {
	h1 {
		font-size:50px;
	}
}