
body {
	font-family: italic;
	font-size: 20px;;
	color: white;
	background-color: #20B2AA;
}

.topnav {
	background-color: white;
	padding: 15px;
}

.row {
	background-color: white;
}

.leftcolumn

{background-color: white;}