a:link,visited {
	background-color:none;
	color:white;
	padding:14px 100px;
	text-align: center;
	display: inline-block;
}

a:hover { 
	background-color:lightblue; 
}

a {text-decoration: none;}

body {
	font-family: Rubik;
	font-size: 20px;;
	color: black;
	background-color: none;
}

.header {
	border-image: 100px;
	padding: 10px;
	border-color: yellow;
	text-align:center;
	margin:auto;
}

@import url('http://fonts.googleapis.com/css?family=Signika');

.topnav {
	background-color: yellow;
	padding: 1px;
	text-align: center;
}

.row {
  max-width: 40em;
  margin:auto;
}

.mainpage {
	background-color: white;
	font-family:Signika;
	font-size: 1em;
	padding:1em;
	margin:1em;
}

.footer {
	padding: 0.5em;
  text-align: center;
  background: lightblue;
  font-size:0.5em;
}
