
a:link,visited {
	background-color:none;
	color:white;
	padding:14px 100px;
	text-align: center;
	display: inline-block;
}

a:hover { 
	background-color:lightblue; 
}

a {text-decoration: none;}

body {
	font-family: Rubik;
	font-size: 20px;;
	color: black;
	background-color: none;
}

.header {
	border-image: 100px;
	padding: 50px;
	border-color: yellow;
	text-align:center;
}

.topnav {
	background-color: yellow;
	padding: 1px;
	text-align: center;
}

.leftcolumn
{background-color: white;}
