<div class="container">
  <h1>
    <a href="/" class="site-title-link">{{ site.texture.title }}</a>
  </h1>
  <h2 class="site-title site-tagline">
    <a href="/" class="site-title-link">{{ site.texture.tagline }}</a>
  </h2>
  <ul class="social">
    {%- if site.texture.social_links.github -%}
    <a href="https://github.com/ching-wang"
      ><li><i class="icon-github-circled"></i></li
    ></a>
    {%- endif -%} {%- if site.texture.social_links.linkedIn -%}
    <a href="https://www.linkedin.com/in/ching-wang/"
      ><li><i class="icon-linkedin-squared"></i></li
    ></a>
    {%- endif -%} {%- if site.texture.social_links.twitter -%}
    <a href="https://twitter.com/{{ site.texture.social_links.twitter }}"
      ><li><i class="icon-twitter-squared"></i></li
    ></a>
    {%- endif -%}
  </ul>
</div>
