/*
Error: Invalid CSS after "@import "theme"": expected "{", was ";"
        on line 4 of assets/css/style.scss

1: ---
2: ---
3: 
4: @import "theme";
5: 
6:  {%- if site.texture.showPicker -%}
7: #texture-picker {
8:     position: fixed;
9:     {%- if site.texture.showNav -%}

Backtrace:
assets/css/style.scss:4
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:688:in `block'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/home/xiuyuan/gems/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/home/xiuyuan/gems/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/home/xiuyuan/gems/bin/sass:23:in `load'
/home/xiuyuan/gems/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@import \"theme\"\": expected \"{\", was \";\"\A         on line 4 of assets/css/style.scss\A \A 1: ---\A 2: ---\A 3: \A 4: @import \"theme\";\A 5: \A 6:  {%- if site.texture.showPicker -%}\A 7: #texture-picker {\A 8:     position: fixed;\A 9:     {%- if site.texture.showNav -%}"; }
