<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/qingblog.css">
    <link rel="stylesheet" href="/assets/monokai.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
</head>

<body>
<div class="main_background">
    <div class="header">
    <h1 class="title">
        Qing's Blog
    </h1>
    <h2>Learning notes from my daily learning</h2>
    </div>
<div class="nav">
    <a href="/" class="nav-link">Home</a>
    <a href="/project/" class="nav-link">Project</a>
    <a href="/about/" class="nav-link">About Me</a>
</div>

<div class="row">
    <div class="article">
        <article>
          {{ content }}
        </article>
    </div>
</div>
<div class ="footer">
    <a href="https://github.com/ching-wang">
    <img src="/assets/GitHub-Mark-32px.png" alt= "Github icon">
</a>
    <button class="light-switch">
        &#x1f4a1;
    </button>
</div>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script type="application/javascript" src="/assets/qingblog.js"></script>
</body>
</html>